#game {
    width: 100%;
    height: 80vh;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#truth {
    background-color: #B8D7FA;
}

#dare {
    background-color: #ECC5D6;
}

#result {
    background-color: #f2f2f2;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    border: 2px solid #666666;
    border-radius: 20px;
    min-height: 100px;
    text-align: center;
    font-size: xx-large;
}

#spacer {
    width: calc(50dvw - 60vh);
}

#truthButton {
    transform: translateY(-50%);
    margin-top: calc(50% - 160px);
}

#dareButton {
    transform: translateY(-50%);
    margin-top: calc(50% - 160px);
}

.option {
    width: min(50dvw, 60vh);
    height: min(50dvw, 60vh);
    margin: 10px;
    text-align: center;
    border: 2px solid #666666;
    border-radius: 20px;
}